.main {
  /* add container padding */
  /* remove container padding on mobile */
  /* Navigation styles (shared desktop and mobile) */
}
.main .container-fluid {
  padding: 0 3rem;
}
@media (max-width: 767px) {
  .main .container-fluid {
    padding: 0;
  }
}
.main .creators-navigation {
  margin-bottom: 2rem;
  background-color: black;
  /* Nav styles (desktop Only) */
  /* Nav styles (mobile Only) */
  /* hide mobile nav by default */
  /* force hide monile nav on desktop */
  /* show mobile nav on mobile */
}
.main .creators-navigation .row {
  margin-bottom: 0;
}
.main .creators-navigation .creators-logo {
  margin: 1.875rem 0;
  max-width: none;
  width: auto;
}
@media (max-width: 400px) {
  .main .creators-navigation .creators-logo {
    width: 180px;
    margin: 2.375rem 0;
  }
}
.main .creators-navigation .creators-navigation-list {
  margin: 1.875rem 0;
  text-align: right;
}
.main .creators-navigation .creators-navigation-list ul li {
  display: inline-block;
}
.main .creators-navigation .creators-navigation-list ul li a {
  color: white;
  font-size: 1.125rem;
  padding: 0.625rem;
  display: block;
  text-decoration: none;
  font-family: "Fjalla One", sans-serif;
}
.main .creators-navigation .hamburger-menu-icon {
  font-size: 1.75rem;
  color: white;
}
.main .creators-navigation .creators-desktop-nav ul li a.active:after,
.main .creators-navigation .creators-desktop-nav ul li a:hover:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 92%;
  border-bottom: 3px solid white;
  top: -5px;
  position: relative;
}
.main .creators-navigation .creators-mobile-nav {
  background-color: #111;
}
.main .creators-navigation .creators-mobile-nav .col {
  padding: 0;
}
.main .creators-navigation .creators-mobile-nav .creators-navigation-list {
  margin: 0;
}
.main .creators-navigation .creators-mobile-nav .creators-navigation-list ul li {
  display: block;
  width: 100%;
}
.main .creators-navigation .creators-mobile-nav .creators-navigation-list ul li a {
  text-align: left;
  width: 100%;
}
.main .creators-navigation .creators-mobile-nav .creators-navigation-list ul li a.active,
.main .creators-navigation .creators-mobile-nav .creators-navigation-list ul li a:hover {
  background-color: #ddd;
  color: black;
}
.main .creators-navigation .creators-mobile-nav,
.main .creators-navigation .hamburger-menu-icon {
  display: none;
}
@media (min-width: 768px) {
  .main .creators-navigation .creators-mobile-nav,
  .main .creators-navigation .hamburger-menu-icon {
    display: none !important;
  }
}
@media (max-width: 767px) {
  .main .creators-navigation .creators-desktop-nav .hamburger-menu-icon {
    display: block;
  }
  .main .creators-navigation .creators-desktop-nav .creators-navigation-list ul {
    display: none;
  }
}
.main .infobox-col {
  border-left: solid 4px #eb022f;
}
.main .infobox-col .infobox {
  padding-bottom: 15px;
}
.main .infobox-col .infobox h2 {
  font-family: "Fjalla One", sans-serif;
  font-size: 2.25rem;
  line-height: normal;
}
.main .infobox-col .infobox .tagline {
  font-weight: bold;
  color: #eb022f;
  text-transform: uppercase;
  margin-bottom: 2px;
}
.main .infobox-col .infobox p {
  font-size: 0.75rem;
  line-height: normal;
}
.main .creator-filters {
  border-radius: 8px;
  background-color: #d8d8d8;
  margin: 0 1rem;
}
.main .creator-filters.creator-tags {
  background: none;
  margin-bottom: 20px;
}
.main .creator-filters .row {
  margin-bottom: 0;
}
.main .creator-filters .filters .filter-instructions {
  font-size: 0.625rem;
  margin: 0 1rem;
}
.main .creator-filters .filters .filter-option {
  font-family: "Fjalla One", sans-serif;
  font-size: 0.75rem;
  margin: 0 0.875rem;
}
.main .creator-filters .filters .filter-option a {
  text-decoration: none;
  color: #505050;
}
.main .creator-filters .filters .filter-option a:hover {
  color: black;
}
.main .creator-filters .filters .filter-option.active a {
  color: white;
  background: #eb022f;
  border-radius: 4px;
  padding: 1px 10px;
}
.main .creator-filters .filters .filter-option.active a:hover {
  color: white;
}
.main .creator-filters .filters .filter-option .close {
  font-size: 0.675em;
  position: relative;
  top: -50%;
  vertical-align: middle;
}
@media (max-width: 767px) {
  .main .creator-filters .filters p {
    margin-top: 5px;
  }
}
.main .creator-filters .filters .search-box {
  float: right;
  margin: 0 0 0.3125rem 0;
  color: #eb022f;
  font-size: 0.75rem;
}
.main .creator-filters .filters .search-box form {
  display: inline-block;
}
.main .creator-filters .filters .search-box form input#search-box {
  background: transparent;
  text-align: center;
  font-size: 0.75rem;
  font-weight: bold;
}
.main .creator-filters .filters .search-box form input#search-box::placeholder {
  color: #eb022f;
}
.main .creator-filters .filters .search-box i {
  position: relative;
  top: 1px;
}
.main .creator-filters .filters .search-box:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 92%;
  border-bottom: 1px solid #eb022f;
  position: relative;
  left: 4px;
}
@media (max-width: 599px) {
  .main .creator-filters .filters .search-box-container .search-box {
    float: left;
  }
}
.main .creators {
  display: flex;
  flex-wrap: wrap;
}
.main .creators .creator {
  display: flex;
  margin: 0;
}
.main .creators .creator .creator-content {
  border-radius: 8px;
  border: 4px solid #eb022f;
  padding: 5rem 1.25rem 2rem;
  margin: 0 1em 2em;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-top: 100px;
  position: relative;
}
.main .creators .creator .creator-content img {
  margin: 0 auto;
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 160px;
}
.main .creators .creator .creator-content h3 {
  font-size: 0.75rem;
  color: #eb022f;
  font-weight: bold;
  line-height: normal;
  text-transform: uppercase;
}
.main .creators .creator .creator-content .creator-name {
  font-size: 1.5rem;
}
.main .creators .creator .creator-content .creator-desc {
  font-size: 0.75rem;
  margin-bottom: 2em;
}
.main .creators .creator .creator-content a.creator-btn {
  font-family: "Fjalla One", sans-serif;
  border-radius: 8px;
  background-color: #eb022f;
  padding: 0.25rem 1rem;
  margin: auto auto 0;
  font-size: 0.75rem;
  color: white;
  display: inline-block;
}
.main .creators .creator .creator-content a.creator-btn:hover {
  text-decoration: none;
}
/*# sourceMappingURL=archive-creators.css.map */