.creator-filters .creator-categories {
  border-radius: 8px;
  background-color: #d8d8d8;
  margin: 0 1rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  padding: 0 10px;
}
.creator-filters .creator-tags {
  margin: 0 1rem;
  margin-bottom: 20px;
  padding: 0 10px;
}
.creator-filters .creator-tags .cancel-filter {
  display: none;
}
.creator-filters .creator-tags .active .cancel-filter,
.creator-filters .creator-tags .clear-all .cancel-filter {
  display: inline;
}
.creator-filters .row {
  margin-bottom: 0;
}
.creator-filters .filters {
  z-index: 1;
  position: relative;
}
.creator-filters .filters .filter-container {
  float: left;
  padding: 3px 0;
  margin-right: 15px;
  position: relative;
  font-size: 0.6875rem;
}
.creator-filters .filters .filter-container .right-arrow {
  width: 0;
  height: 0;
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
  border-left: 10px solid #eb022f;
  float: right;
  transform: scale(0.5, 0.5);
  padding: 0 5px 0 5px;
}
.creator-filters .filters .filter-container .filter-option {
  font-family: "Fjalla One", sans-serif;
  font-size: 0.75rem;
  margin: 0 0.875rem;
}
.creator-filters .filters .filter-container .filter-option a {
  text-decoration: none;
  color: #505050;
}
.creator-filters .filters .filter-container .filter-option a:hover {
  color: black;
}
.creator-filters .filters .filter-container .filter-option.active a {
  color: white;
  background: #eb022f;
  border-radius: 4px;
  padding: 1px 10px;
}
.creator-filters .filters .filter-container .filter-option.active a:hover {
  color: white;
}
.creator-filters .filters .filter-container .filter-option .cancel-filter {
  font-size: 0.7em;
  position: relative;
  left: 5px;
  vertical-align: middle;
}
@media (max-width: 767px) {
  .creator-filters .filters .filter-container p {
    margin-top: 5px;
  }
}
.creator-filters .search-box {
  position: relative;
  float: right;
  margin: 0 0 0.3125rem 0;
  color: #eb022f;
  font-size: 0.75rem;
  border-bottom: 1px solid #eb022f;
  display: inline-block;
}
.creator-filters .search-box input.search-input {
  background: transparent;
  text-align: center;
  font-size: 0.75rem;
  font-weight: bold;
}
.creator-filters .search-box input.search-input::placeholder {
  color: #eb022f;
}
.creator-filters.mobile-only {
  border-radius: 8px;
  background-color: #d8d8d8;
  margin: 0 1rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  padding: 0 10px;
}
.creator-filters.mobile-only .filters {
  float: left;
  padding: 3px 0;
  margin-right: 15px;
  position: relative;
}
.creator-filters.mobile-only .filters .toggle-button {
  cursor: pointer;
}
.creator-filters.mobile-only .filters .toggle-icon {
  width: 0;
  height: 0;
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
  border-left: 10px solid #eb022f;
  float: right;
  transform: scale(0.5, 0.5);
  padding: 0 5px 0 5px;
}
.creator-filters.mobile-only .filters .filter-modal {
  position: absolute;
  padding: 0.5rem 1rem;
  background: #d8d8d8;
  top: 22px;
  display: none;
  border: 1px solid #aaa;
}
.creator-filters.mobile-only .filters.active .filter-modal {
  display: block;
}
.input-sizer {
  vertical-align: top;
  align-items: center;
}
.input-sizer input {
  position: absolute;
  width: 100%;
  padding: 0 13px 0 5px;
}
.input-sizer::after,
.input-sizer input {
  font: inherit;
  margin: 0;
  resize: none;
  background: none;
  appearance: none;
  border: none;
}
.input-sizer::after {
  content: attr(data-value) ' ';
  visibility: hidden;
  white-space: pre-wrap;
  padding: 0 5px;
}
/*# sourceMappingURL=filters.css.map */