@red: #eb022f;
@greytext: #505050;

.creator-filters{
	.creator-categories{
		border-radius: 8px;
		background-color: #d8d8d8;
		margin:0 1rem;
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
		padding:0 10px;
	}
	.creator-tags{
		margin:0 1rem;
		margin-bottom:20px;
		padding:0 10px;
		.cancel-filter{
			display:none;
		}
		.active .cancel-filter, .clear-all .cancel-filter{
			display:inline;
		}
	}
	.row{
		margin-bottom:0;
	}
	.filters{
		z-index:1;
		position:relative;
		.filter-container{
			float:left;		
			padding: 3px 0;
			margin-right:15px;
			position:relative;
			font-size:.6875rem;
			.right-arrow{
				width: 0; 
				height: 0; 
				border-top: 9px solid transparent;
				border-bottom: 9px solid transparent; 	  
				border-left:10px solid @red; 
				float:right;
				transform: scale(.5, .5);
				padding:0 5px 0 5px;
			}			
			.filter-option{
				font-family: "Fjalla One", sans-serif;
					font-size: .75rem;
					margin:0 .875rem;
					a{
	    			text-decoration:none;
	    			color:@greytext;
	    			&:hover{
	    				color:black;
	    			}
	    		}
			 	&.active a{
	    			color:white;
	    			background:@red;
	    			border-radius: 4px;
	    			padding: 1px 10px;
	    			&:hover{
	    				color:white;
	    			}
	    		}
	    		.cancel-filter{
					font-size: .7em;
					position: relative;
				    left: 5px; 
				    vertical-align: middle;
	    		}
			}
			@media  (max-width: 767px) {
				p {
			    	margin-top: 5px;
				}
			}
		}
		
	}
	.search-box{
		position:relative;
		float:right;
		margin: 0 0 .3125rem 0;
		color:@red;
		font-size: .75rem;
		border-bottom: 1px solid @red;
		display:inline-block;
		input.search-input{				
			background: transparent;
		    text-align: center;
		    font-size: .75rem;
		    font-weight:bold;
		    &::placeholder {
		    	color:@red;
		    }
		}

	}
}

.creator-filters.mobile-only{
	border-radius: 8px;
	background-color: #d8d8d8;
	margin:0 1rem;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
	padding:0 10px;
	.filters{
		float:left;		
		padding: 3px 0;
		margin-right:15px;
		position:relative;
		.toggle-button{
			cursor:pointer;
		}
		.toggle-icon{
			width: 0; 
			height: 0; 
			border-top: 9px solid transparent;
			border-bottom: 9px solid transparent; 	  
			border-left:10px solid @red; 
			float:right;
			transform: scale(.5, .5);
			padding:0 5px 0 5px;
		}	
		.filter-modal{
			position:absolute;
			padding:.5rem 1rem;
			background:#d8d8d8;
			top: 22px;
			display:none;
			border: 1px solid #aaa;
		}	
		&.active{
			.filter-modal{
				display:block;
			}
		}
	}
}


.input-sizer {
  //display: inline-grid;
  vertical-align: top;
  align-items: center;

  input{
  	position: absolute;
  	width: 100%;
    padding: 0 13px 0 5px;
  }
  
  &::after,
  input {
    font: inherit;
    margin: 0;
    resize: none;
    background: none;
    appearance: none;
    border: none;
  }
  
  &::after {
    content: attr(data-value) ' ';
    visibility: hidden;
    white-space: pre-wrap;
    padding: 0 5px;
  }
  

}