.creators-single{
	section.creators-owl-container{
		padding:4rem 2rem;
		background-color: #e9e9e9;
		.owl-carousel{
			padding: 0 50px;
			.owl-stage{
				display:block;
				.owl-item{
					flex-grow: 1;
					display: inline-block;
					vertical-align: middle;
					background:black;
					float:none;
					a{
						display:block;
						overflow:hidden;
					
					}
					.modal-opener .modal-opener-inner{
						min-height: 230px;
						display: flex;
						img{
							max-height:230px;
							width:auto;
							margin:auto;
						}
					}
				}
			}
		}

	}


	.gear-carousel-container, .ec-carousel-container{
		padding:0 2rem;
		.owl-carousel.gear-carousel, .owl-carousel.ec-carousel{
			padding: 0 50px;
			.owl-stage{
				display:block;
				.owl-item{
					text-align:center;
					background:none;
					flex-grow: 1;
					display: inline-block;
					vertical-align: middle;
					float:none;
					.item{
					    max-width: 300px;
					    margin: auto;
					}
					img{
						max-width: 200px !important;
					    margin: auto;	
					}
					.creator-btn-container{
						padding:20px 0 10px;
					}
					a{
						display:block;
						overflow:hidden;
					
					}
				}
			}
			.owl-dots{display:none;}
		}
	}
	
	.ec-carousel-bg{		
		color:white;
		overflow: hidden;
		height: 0;
		position:relative;
		border-radius:5px;
		.ec-carousel-inner{
			position:absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
			background:rgba(0,0,0,.3);
			border-radius:5px;
			text-align:left;
			padding: 1.25em 1.875em;
			display: flex;
    		flex-direction: column;
    		.article-label span{
    			line-height:normal;
    			border-bottom:1px solid #eb022f;
    		}
    		h3{
    			line-height:normal;
    			color:white;
    			font-size:1.25rem;
    			font-family: 'Fjalla One', sans-serif;
    			margin-bottom: .625rem;
    			margin-top:auto;
    		}
    		p{
    			line-height:normal;
    			font-size:.75rem;
    			margin-bottom:.625rem;
    		}
    		.ec-cta{
    			.ec-cta-inner{
    				float:right;
    				display: flex;
				    align-items: center;
				    .cta-label{
    					line-height:normal;
    					font-family: 'Fjalla One', sans-serif;font-size:.625rem;
    					border-bottom:1px solid #eb022f;
    				}
    				.cta-right-arrow{
    					width: 0;
    					height: 0;
    					border-top: 9px solid transparent;
    					border-bottom: 9px solid transparent;
    					border-left:10px solid #eb022f;
    					transform: scale(1, .75);
    					margin-left:10px;
    					display: block;
    					float: right;
    				}
    			}
    		}
		}
	}
	@media (max-width:600px){
		section.creators-owl-container{
			padding: 2rem 1rem;
		}
		.gear-carousel-container, .ec-carousel-container{
			padding:0 1rem;
		}
	}
	@media (max-width:440px){
		.ec-carousel-bg .ec-carousel-inner{
			h3{
				font-size:1rem;
			}
		}
	}
	@media (max-width:413px){
		.ec-carousel-bg .ec-carousel-inner{
			p{
				display:none;
			}
		}
	}

}